<header class="site-header">
  <div class="logo-wrap">
    <div class="logo">
      <a href="<%- url_for() %>" class="image-link">
        <img src="/logo.png" alt="Disha Roy">
      </a>
    </div>
  </div>
</header>
